@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;800&family=Comfortaa:wght@300;400;600&family=Mulish:wght@200;300;400;500&family=Poppins:ital,wght@0,100;0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Da 2', sans-serif;
}

body {
    background-image: url('../images/floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.card {
    background-color: #ffffff75;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
}

h1 {
    text-align: center;
    color: #282262;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #282262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-in;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.label-float input:focus {
    border-bottom:  2px solid #4038a0;
}

.label-float label {
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

button {
    background-color: transparent;
    border-color: #272262;
    background-color: #272262;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

button:houver {
    background-color: #272262;
    color: #ffffff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}


p {
    color: #272262;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
}

a:houver {
    color: #272262;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}