@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Raleway:wght@300;500;700&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html { 
    font-size: 15px; 
}

.modo-contraste{
    background-color: #070707;
    color: #fff;
}

.rodape-contraste {
    background-color: #fff;
    color: #070707;
}

body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
    /* Solução para o rodapé */
    /* Etapa 1: colocar o body em modo flex e definir altura mínima usando a viewport como referência*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Eapa 2: fazer o main ocupar todo o espaço necessário para empurrar o rodapé para baixo */
    flex: 1;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 a {
    background-color: #070707;
    color: #fff;
    border-radius: 5px;
    padding: 0.3rem 1rem;
}

header {
    background-color: #fff;
    text-transform: uppercase;

    /* Deixar o cabeçalho fixo */
    position: sticky;
    top: 0;
}

header .limitador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.limitador {
    max-width: 1100px;
    margin: auto;
    width: 95%;
}

/* Regras para o texto/link menu */
nav h2 {
    text-align: right;
}

nav h2 a {
    color: #070707;
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover,
nav h2 a:focus,
.links-menu a:hover,
.links-menu a:focus {
    background-color: gainsboro;
}

.links-menu {
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;

    /* Esta propriedade será
    usada posteriormente para esconder
    a lista */
    display: none;
}

.links-menu a {
    color: #070707;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Obs.: esta regra será aplicada com o auxílio de programação JavaScript */
.links-menu.aberto {
    /* Neste ponto, usamos o flex pra voltar
    a exibir o menu (quando aberto) */
    display: flex;

    /* E fazemos com que os links apareçam 
    verticalmente */
    flex-direction: column;

    /* Usamos position e coordenadas
    para garantir o posicionamento 
    correto do menu quando aberto */
    position: absolute;
    right: 0;
    left: 0;
}

h3 {
    margin: 1rem;
}

.pcd {
    display: flex;
    justify-content: space-evenly;
    background-color: #070707;
    height: 38px;
    align-items: center;
}

section {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}


.hospedagem {
    background-color: #c72434;
    margin: 0.5rem;
    padding: 1rem 0rem;
    border-radius: 50px;
    text-align: center;
    font-size: 1.3rem;
}

figure img {
    padding-top: 1rem;
    max-width: 100%;
}

button {
    background-color: #070707;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-weight: normal;
    font-size: 1.1rem;
    border-radius: 15px;
}

.btn-pcd {
    color: #fff;
    background-color: #c72434;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    font-size: medium;
    
}

footer {
    background-color: #070707;
    color: #fff;
    font-weight: normal;
    padding-top: 10px;
    text-align: left;
}

.devs {
    margin: 10px;
}

.devs_names {
    list-style: none;
    margin: 10px;
}

.names {
    margin: 3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.direitos {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}

/* media query para alterar o menu */
@media screen and (min-width: 530px) {
    nav {
        width: 70%;
    }

    nav h2 {
        display: none;
    }

    .links-menu {
        display: flex;
    }

    .links-menu li {
        width: 100%;
    }
}

/* media query para alterar o tamanho do font-size */
@media screen and (min-width: 800px) {
    html {
        font-size: 18px;
    }
}